/*

!.gitignore
!nvim
!nvim/*
nvim/lazy-lock.json
nvim/breakpoints.json
!alacritty*
!zellij
!zellij/*
!starship*
!atuin
!atuin/*
!kitty
!kitty/*
!.psqlrc
!.pspgconf
!dunst
!dunst/*
!git
!git/*
!mitmproxy/config.yaml
!mitmproxy/*.py
!lazygit
!sofka
!sofka/config.toml
